.app-icon-link { text-decoration: none; display: inline-block; ;
  .icon-img {width: 145px; height: 145px; margin-bottom: 12px;}
  .title {color:#fff; font-size:20px; text-align:center; width:140px; font-weight: 100; letter-spacing: 1px;}
}
