<div class="my-apps-container">
  <ul class="my-apps-list">
    <li ng-repeat="app in $ctrl.apps" class="app-list-item">
      <div class="icon {{app.icon}}"></div>
      <h2 class="app-name">{{app.name}}</h2>
      <a class="app-version-link">
        <span class="circle"></span>
        <span class="app-type">{{app.type}}</span>
        <span class="app-version">{{app.version}}</span>
        <span class="app-submission-state">{{app.submissionState}}</span>
      </a>
    </li>
  </ul>
</div>
