@import "common/common";
/* reset */

html, body, h1,h2,h2,h4,p,ul,ol {margin: 0; padding: 0;}
html, body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; height: 100%;}
h1 {font-size:28px; margin: 0 0 10px;}
h2 {font-size:26px; margin-bottom: 10px;}
h3 {font-size:20px; margin-bottom: 8px;}
p {margin-bottom: 10px;}

.app {height: 100%;}
.home-page {background: #456878 url('./assets/imgs/bg.png') 100% 100% fixed;}
