@import "common/common";
/* reset */

* {box-sizing: border-box;}
html, body, h1,h2,h2,h4,p,ul,ol,dl,dt,dd {margin: 0; padding: 0;}
html, body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; height: 100%; color:$contentColor;
  -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility}
h1 {font-size:28px; margin: 0 0 10px;}
h2 {font-size:26px; margin-bottom: 10px; font-weight: 300;}
h3 {font-size:18px; margin-bottom: 8px; color:#888888;}
p {margin-bottom: 10px;}
a {color:$linkColor; text-decoration: none; font-weight: 300;}
//.app {max-height: 100%;}
.home-page {background: #456878 url('./assets/imgs/bg.png') 100% 100% fixed; background-size:contain;}
.help-icon {display:inline-block; width:15px; height:15px; position: relative; top:3px;
  background: url('./assets/imgs/questionMarkIcon.png') no-repeat; background-size:15px 30px;}
