.input-control-container {
  .input-control-label {display: block; margin-bottom: 10px; font-size:14px; font-weight: bold;}
  .input-control {width: 90%; padding: 5px 8px; border-radius: 3px; border:1px solid #d9d9d9;}
}
