@import "../../common/common";
.app-details {display: flex; box-sizing: border-box;

  /*-- Section Styles --*/
  .section {padding: 10px 20px 45px 10px; margin-bottom: 20px; border-bottom: 1px solid $borderColor;
    .section-heading {font-size:20px; font-weight: 300; margin-bottom: 20px; margin-top: 0;}
    dt {font-weight: 500; font-size:14px; margin: 15px 0 5px 0;}
    dd {font-weight: 200;}
  }

  /*-- Side Nav --*/
  .side-nav {flex: 0 0 250px; padding: 20px 0; border-right: 1px solid $borderColor; overflow: hidden;
    .side-nav-heading, .app-store-type { font-size: 11px; text-transform: uppercase; color: #bababa; margin-left: 35px;}
    .app-store-nav { list-style: none;
      .app-store-nav-item a { padding: 12px 40px; display: inline-block; font-size: 14px; width: 100%; color: $contentColor;
        &.active { background: deepskyblue; color: #fff; }
      }
    }
    .platform-link, .app-submission-state { padding-left: 40px;}
    .platform-link { margin-top: 20px;}
    .app-store-type {margin-bottom: 20px;}
    .app-submission-state { padding-bottom: 20px; border-bottom: 1px solid $borderColor; font-size: 14px; text-overflow: ellipsis;}
  }

  /*-- Main Content Section --*/
  .main-content { padding: 25px; padding-right: 0; flex:1 1;
    .app-info-content {color:#929292;}
    .form-section {display: flex;
      .wide-form-control { width: 50%; padding-right: 25px; box-sizing: border-box;
        & + .wide-form-control {padding-left: 25px; padding-right: 0;}
        label {display: block; margin-bottom: 10px; font-size:14px; font-weight: 500;}
      }
    }
    .lang-section {
      dt {margin-top: 0;}
      dd {margin-bottom: 10px;}
    }
    .cat-select {margin-bottom: 5px;}
  }

}

/* from itc :) */
.custom-select {
  width: 100%;
  height: 30px;
  background: #fff url('../../assets/imgs/select-bg.png') center right no-repeat !important;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  background-size: 24px 16px !important;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 2px 25px 2px 8px;
  margin-top: 2px;
}
